@model System.Collections.Generic.List<BankOfSimba.Models.Client>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Accounts</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <h1>Accounts</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Balance</th>
                            <th>Animal</th>
                            <th>The owner is</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in @Model)
                        {
                            <tr>
                                <td>@(Model.IndexOf(account) + 1)</td>
                                <td>@account.Name</td>
                                <td>@account.Balance.ToString("N2")  @account.Currency</td>
                                <td>@account.AnimalType</td>
                                @if (@account.King == true)
                                {
                                    <td id="king">The King</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <form action="/form" method="get">
            <button type="submit" class="btn btn-success">Add Account</button>
        </form><br>
        <form action="/bank" method="post">
            Name: <input type="text" name="name">
            <button type="submit" class="btn btn-danger">Delete Account
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>